.theme-toggle {
  width: 30px;
  height: 30px;
  background-color: rgb(var(--text-color));
  cursor: pointer;
}

.profile-wrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    object-fit: fill;
  }
}


.header-logo{
  filter: invert(1) brightness(1.4) contrast(1.3) saturate(1.5) hue-rotate(175deg);
    mix-blend-mode: screen;
}
