:root {
  


  --primary-color:48, 207, 255; /* Accent Gold */

  --secondary-color: 30, 144, 255; /* Sky Blue */
  // --theme-primary:  0, 41, 72;
  // --theme-secondary: 0, 31, 63; /* Navy Blue Background */
  --theme-primary: 30, 32, 38;
    --theme-secondary: 20, 21, 26;
  --card-background-color: 10, 41, 72; /* Darker Navy for Cards */
  --text-color:21,21,23;
  --fx-white: 255, 255, 255; /* White Text */
  --muted-text: 0 84 116; /* Light Steel Blue for Muted Text */
  --success-color: 40, 167, 69; /* Green for Success */
  --error-color: 220, 53, 69; /* Red for Errors */
  --warning-color: 255, 193, 7; /* Yellow for Warnings */
  --info-color: 23, 162, 184; /* Cyan for Information */
  --fx-dark:0, 0, 0;
  --disable-color:52 58 64 ;
  --default-border-color: 55, 57, 67;
  --default-text-color: 255, 255, 255;

  // Shadows
--box-shadow-light: 0 2px 4px rgba(255, 255, 255, 0.1);
--box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.9);
--box-shadow-primary: 0 2px 24px rgba(48, 207, 255, 0.9);


}


body {
  &.dark {
    //--theme-primary: 40, 44, 49; // #282C31
    //--theme-secondary: 29, 29, 31; // #1D1D1F
    //--text-color: 240, 240, 240; // #F0F0F0

    // other color theme
    --primary-color: 48, 207, 255; // #1C526D
    --secondary-color: 124, 219, 249; // #7CDBF9
  
    --theme-primary: 255, 255, 255; // #FFFFFF
    --theme-secondary: 247, 248, 250; // #F8F9FB
    --text-color: 21, 21, 23; //#151517
    --fx-white: 255, 255, 255;
    --fx-dark: 0, 0, 0;
    --muted-text: 28, 82, 109; //e2e2e2
    --default-text-color: 0,0,0;
    --default-border-color: 237 232 232;

    --box-shadow-light: 0 2px 4px rgba(255, 255, 255, 0.1);
--box-shadow-medium: 0 4px 8px rgba(0, 0, 0,0);
--box-shadow-primary: 0 2px 24px rgba(48, 207, 255, 0.9);
  }
}


